$color : #000;

p{ background-color:$color}

.terminal{
    background-color:$color;
    color:#FFF;
    position:fixed;
    bottom:0;
    width:80%;
    left:50%;
    transform: translateX(-50%);
    height:500px;
}

input#command{
    color:#fff;
    background-color:black;
    border:0px solid transparent;
    padding-left:260px;
    position:relative
}

.input-wrapper{
    display:block;
    position:relative
}

.input-wrapper .title{
    display: block;
    position: absolute;
    left: 10px;
    top: 0;
    right: calc(100% - 260px);
    color: lime;
    z-index: 30;
    bottom: 0;
    line-height: 38px;
}




.top-bar{
    width:100%;
    height:60px;
    background-color:red;
}

